.header {
    background-color: $main-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    z-index: 100;
    transition: height 0.3s ease;

    .buyer:hover {
        color: black;
    }

    &__menu__item__buyer {
        display: flex;
        font-size: 14px;
        width: 200px;
        align-items: center;
        justify-content: space-around;
        font-family: 'Montserrat';
    }

    &__scroll {
        position: fixed;
        height: 5px;
        width: 100%;
        background: #f8f8f8;
        border-radius: 50px;
        transition: 0.5s ease;
    }

    @include tablet {
        height: $header-tablet-height;
        box-shadow: $box-shadow;
    }

    @include mobile {
        height: $header-mobile-height;
        box-shadow: $box-shadow;
    }

    .container {
        height: 100%;
        background: #f8f8f8;
    }

    &.shrink {
        height: $header-shrink-height;
        box-shadow: $box-shadow;
        z-index: 100;

        @include mobile {
            height: 40px;
            box-shadow: $box-shadow;
        }

        .header__scroll {
            background: #72a1ff;
        }

        .container {
            background: #fff;
        }

        .header__logo-home {
            height: 55px;
            cursor: pointer;
            transition: 0.25s ease-in-out;

            @include mobile {
                height: 30px;
            }
        }
    }

    &__menu__item__buyer-signup {
        cursor: pointer;

        &:hover {
            color: #72a1ff;
        }
    }

    &__menu__item__buyer-signin {
        background-image: linear-gradient(#0dccea, #0d70ea);
        border: 0;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: Montserrat, sans-serif;
        font-size: 0.9em;
        margin: 5px;
        padding: 10px 15px;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    &__logo {
        @include flex(center, center);

        @include mobile {
            justify-content: flex-start;
        }

        position: absolute;
        inset: 0;
        margin-top: 5px;

        &-home {
            height: 80px;
            cursor: pointer;

            @include mobile {
                height: 30px;
            }
        }
    }

    &__menu {
        @include flex(center, space-between);

        height: 100%;
        font-size: 1.5rem;

        &__hover__animation {
            height: 2px;
            width: 0;
            transition: 0.35s ease-in-out;
            align-self: center;
        }

        &__item~&__item {
            margin-left: 39px;
        }

        &__item {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &__item.active {
            font-weight: 600;
            color: $main-color;

            @include tablet {
                margin-left: 0;
            }
        }

        &__item:hover {
            color: $main-color;

            & .header__menu__hover__animation {
                background-color: $main-color;
                width: 100%;
            }
        }

        &__left,
        &__right {
            @include flex(center, center);

            @include mobile {
                justify-content: start;
            }

            @include tablet {
                width: 50%;
            }

            height: 100%;
            z-index: 1;
        }

        &__right {
            font-size: 1.5rem;

            &__item {
                @include flex(center, center);

                @include tablet {
                    margin-left: 10px;
                }
            }

            @include mobile {
                font-size: 1.5rem;
            }
        }

        &__mobile-toggle {
            display: none;

            @include tablet {
                display: block;
                font-size: 2.5rem;
            }
        }

        &__left {
            &__close {
                display: none;
            }

            @include tablet {
                flex-direction: column;
                background-color: $main-bg;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                justify-content: flex-start;
                padding-top: 30px;
                transform: translateX(-100%);
                transition: transform 0.5s ease;

                &.active {
                    transform: translateX(0);
                }

                &__item~&__item {
                    margin-left: unset;
                    margin-top: 20px;
                }

                &__close {
                    display: block;
                    position: absolute;
                    left: 11px;
                    top: 1%;
                    font-size: 0.5rem;

                    @include tablet {
                        left: 18px;
                        top: 2.8%;
                    }

                    @include mobile {
                        left: 11px;
                        top: 1%;
                    }
                }
            }
        }
    }
}

.header__menu__item {
    @include mobile {
        margin-left: 0px !important;
    }

    &__search-wrap {
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50px;
        transition: 0.5s ease;

        .header__menu__item__btn-search {
            cursor: pointer;
        }

        &:hover {
            box-shadow: 0 0 1px 4px rgb(240, 240, 240);
        }
    }

    &__search-wrap.active {
        width: 250px;
        background-color: #fff;
        box-shadow: 0 0 1px 4px rgb(240, 240, 240);

        .header__menu__item__btn-search {
            cursor: pointer;

            &-off {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__btn-search {
        & i {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            @include flex(center, center);

            &:hover {
                background: rgb(250, 250, 250);
            }
        }

        &-off {
            position: absolute;
            top: 11px;
            right: 15px;
            color: $txt-second-color;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.5s ease;
            cursor: pointer;

            &:hover {
                color: $main-color;
            }
        }
    }

    &__input-search {
        position: relative;
        width: 200px;
        height: 50px;
        left: 50px;
        padding: 10px 0;
        @include flex(center, center);

        & input {
            position: absolute;
            top: 0;
            width: 78%;
            background-color: #fff;
            height: 100%;
            border: none;
            outline: none;
            font-size: 18px;
            left: 0px;
        }
    }

    &__cart {
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 50px;
        height: 50px;

        @include mobile {
            margin-right: 0px;
        }

        & p {
            width: 20px;
            height: 20px;
            font-size: 16px;
            background-color: red;
            color: $btn-main-color;
            border-radius: 20px;
            position: absolute;
            top: -4%;
            right: 5%;
            @include flex(center, center);
        }
    }

    @include tablet {
        margin-left: 20px;
    }

    @include mobile {
        margin-left: 10px;
    }
}

.header__menu__item {
    &__cart-drawer {
        width: 400px;
        height: auto;
        position: absolute;
        top: -80%;
        right: -250%;
        background: $main-bg;
        display: flex;
        flex-direction: column;
        box-shadow: $box-shadow;
        border-radius: 5px;
        transform: scale(0.4);
        opacity: 0;
        visibility: hidden;
        transition: 0.25s ease;
        z-index: 100;
        cursor: auto;

        &::after {
            content: '';
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 15px solid #ffffff;
            position: absolute;
            top: -10px;
            right: 56px;
        }

        &.active {
            transform: scale(1);
            top: 115%;
            right: -100%;
            opacity: 1;
            visibility: visible;
        }

        &__title {
            font-size: 15px;
            color: $txt-second-color;
            padding: 10px;
        }

        &__products {
            width: 100%;
            max-height: 300px;
            overflow-y: auto;
            padding: 0 10px;

            &__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding-bottom: 5px;
                border: 1px solid #f0f0f0;
                margin-bottom: 10px;

                &:hover {
                    background-color: #f7f7f7;
                }
            }

            &__img {
                width: 50px;
                height: 50px;

                & img {
                    height: 100%;
                    object-fit: scale-down;
                    width: 100%;
                }
            }

            &__title {
                color: $txt-second-color;
                font-size: 15px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
                margin-left: 35px;
            }

            &__price {
                margin-right: 6px;
                color: #f00505;
                font-weight: 300;
                margin-left: 10px;
                font-size: 18px;
                display: flex;
            }
        }
    }
}

.header__menu__item {
    .w-25 {
        width: 18% !important;
        margin-right: 5px;
    }

    &__user {
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 50px;
        height: 50px;

        @include mobile {
            margin-right: 0px;
        }

        &-drawer {
            position: absolute;
            width: 150px;
            height: 150px;
            background: $main-bg;
            top: -15%;
            right: -55%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            box-shadow: $box-shadow;
            border-radius: 5px;
            color: $txt-main-color;
            font-size: 15px;
            padding: 0 10px;
            transform: scale(0.1);
            opacity: 0;
            visibility: hidden;
            transition: 0.25s ease;
            z-index: 100;
            cursor: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;

            & i {
                color: $txt-second-color;
                margin: 4px 8px;
            }

            &-dashboard i {
                margin: 4px 6px;
            }

            & span {
                cursor: pointer;
            }

            & span:hover {
                color: $btn-search;
            }

            &.active {
                transform: scale(1);
                opacity: 1;
                visibility: visible;
                top: 115%;
                right: -27%;
            }

            &::after {
                content: '';
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 15px solid #ffffff;
                position: absolute;
                top: -10px;
                left: 92px;
            }

            &:hover::after {
                display: block;
            }
        }
    }
}

.header__menu__item__user-drawer-accout {
    display: flex;
    width: 120px;
}

.avatar {
    background-color: #f0f0f0;
}

.header.shrink {
    .header__menu__item__input-search {
        input {
            background-color: #fff;
        }
    }
}

.ant-avatar-sm {
    width: 20%;
}

span.header-cart-icon {
    cursor: pointer;
}

span.display-name-user {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    width: 82%;
}

.search-header {
    .header__menu__right__item {
        position: relative;
        margin-right: 35px;

        @include mobile {
            margin-right: 0px;
        }
    }

    .header__menu__item__search-dropdown-menu-search {
        position: absolute;
        height: 50px;
        height: auto;
        top: 110%;
        right: -70%;
        background: #fff;
        box-shadow: 0px 2px 25px 1px #e6e6e6;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.25s ease-in-out;

        @include tablet {
            right: 0%;
        }

        &.hidden {
            right: -40%;
            width: 500px;
            opacity: 0;
            visibility: hidden;
        }
    }

    .header__menu__item__search-history {
        padding: 15px 30px;
        height: 100px;
        overflow: hidden;
        transition: 0.25s ease-in-out;
    }

    .header__menu__item__search-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 17px;
        color: #6c6c6c;
        width: 466px;

        &:hover {
            background: #f0f8ffab;
        }
    }

    .header__menu__item__search-item-content {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
    }

    p.header__menu__item__search-text {
        margin: 0 20px;
    }

    .header__menu__item__search-category {
        padding: 5px 15px;
    }

    p.header__menu__item__search-category-title {
        font-size: 17px;
    }

    .header__menu__item__search-category-item {
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 20px 3px #dfdfdf;
        }
    }

    .header__menu__item__search-category-item-img {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    img {
        width: 45%;
    }

    p.header__menu__item__search-category-item-name {
        font-size: 13px;
        text-align: center;
        padding: 0 20px;
    }

    i.icon-delete {
        padding: 0 15px;
        cursor: pointer;
    }

    .header__menu__item__search-history-close {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__menu__item__search-category-item {
        height: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}