.police-cart {
    @include flex(center, flex-start);
    padding: 20px;
    padding-left: 0;
    box-shadow: $box-shadow;
    transition: transform 0.5s ease;
    cursor: pointer;
    color: $main-color;
    height: 90px;
    background: #fff;

    &:hover {
        transform: translateY(-20px);
    }

    &__icon {
        @include flex(center, center);
        width: 40%;
        color: $main-color;

        i {
            font-size: 3rem;
        }
    }

    &__info {
        &__name {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 10px;
        }

        &__description {
            font-size: 1rem;
            color: $txt-second-color;
        }

    }
}

.genuine-brand {
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin-bottom: 30px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    button.slick-arrow.slick-prev {
        background: #3333331f;
        position: absolute;
        left: 0%;
        width: 3%;
        height: 100px;
        z-index: 1;
    }

    button.slick-arrow.slick-next {
        background: #3333331f;
        position: absolute;
        right: 0%;
        width: 3%;
        height: 100px;
        z-index: 0;
    }

    .genuine-brand-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }

    p {
        margin: 10px 10px;
        color: #a2a2a2;
        font-size: 23px;
    }

    i.fad.fa-donate {
        font-size: 23px;
        color: #326ebc;
    }

    .ant-col.ant-col-4.gutter-row {
        position: relative;
    }

    .genuine-brand-btn {
        position: absolute;
        bottom: 10px;
        left: 30%;
    }

    .ant-image {
        padding: 20px;
        margin-bottom: 40px;
        width: 200px;

        @include tablet {
            width: 150px;
            height: 150px;
        }
    }
}