.card-order-success {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #c8d0d8;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 35%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.4);
    opacity: 0;
    transition: 0.25s ease-in-out;
    visibility: hidden;
    &.active {
        transform: scale(0.9);
        visibility: visible;
        opacity: 1;
    }
    &__cart-icon {
        border-radius: 200px;
        height: 200px;
        width: 200px;
        background: #f8faf5;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    h1 {
        color: #88b04b;
        font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }
    p {
        color: #404f5e;
        font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        margin: 0;
    }
    i {
        color: #9abc66;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }
}
