.order-container {
    display: grid;
    place-items: center;
    background: #f8f8f8;
}
.wrapper {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
}

.card-order {
    grid-area: 1 / 1;
    height: 115px;
    width: 230px;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: #fff;
    padding: 8px;
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.1);
}

.orders-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #f8f8f8;
}

h1 {
    font-size: 60px;
    font-weight: 900;
}

.card-order .enclosed {
    line-height: 1;
    color: rgb(62, 62, 62);
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
}

.wrapper:before {
    --bw: 2px;
    grid-area: 1 / 1;
    content: "";
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-30px) rotateY(-40deg) rotateX(15deg) scale(1.05);
    pointer-events: none;
    border: var(--bw) solid rgb(91, 31, 31);
    box-sizing: content-box;
    border-radius: 5px;
}

.wrapper:hover > div,
.wrapper:hover:before {
    transform: none;
}

.wrapper > div,
.wrapper:before {
    will-change: transform;
    transition: 0.3s transform cubic-bezier(0.25, 0.46, 0.45, 1);
}

.card-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3.card-order-title {
    font-size: 20px;
    font-family: "M PLUS Rounded 1c";
    margin-bottom: 0px;
}
h3.card-order-content {
    font-family: "Muli";
    margin: 0;
    & span.enclosed {
        font-size: 45px;
        font-weight: 600;
        color: #2f2f2f !important;
        & p {
            font-size: 17px;
            font-weight: 100;
        }
    }
}

// tab-order

.tab-order {
    margin: 30px 0;
}

.input-search {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 700;
}

.alert-dismissible {
    padding-right: 4rem;
}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert-primary hr {
    border-top-color: #9fcdff;
}
.alert-primary .alert-link {
    color: #002752;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
.alert-secondary hr {
    border-top-color: #c8cbcf;
}
.alert-secondary .alert-link {
    color: #202326;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-success hr {
    border-top-color: #b1dfbb;
}
.alert-success .alert-link {
    color: #0b2e13;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.alert-info hr {
    border-top-color: #abdde5;
}
.alert-info .alert-link {
    color: #062c33;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-warning hr {
    border-top-color: #ffe8a1;
}
.alert-warning .alert-link {
    color: #533f03;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-danger hr {
    border-top-color: #f1b0b7;
}
.alert-danger .alert-link {
    color: #491217;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}
.alert-light hr {
    border-top-color: #ececf6;
}
.alert-light .alert-link {
    color: #686868;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}
.alert-dark hr {
    border-top-color: #b9bbbe;
}
.alert-dark .alert-link {
    color: #040505;
}
.ftco-section {
    padding: 1em 0;
}
.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.heading-section {
    font-size: 28px;
    color: #000;
}
.table-wrap {
    overflow-x: scroll;
}
.table {
    min-width: 1000px !important;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}
.table thead.thead-primary {
    background: #99b19c;
}
.table thead th {
    border: none;
    padding: 30px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    text-align: center;
}
.table tbody tr {
    margin-bottom: 10px;
}
.table tbody th,
.table tbody td {
    border: none;
    padding: 30px;
    font-size: 14px;
    background: #fff;
    border-bottom: 4px solid #f8f9fd;
    vertical-align: middle;
}
.table tbody td.quantity {
    width: 10%;
}
.table tbody td .img {
    width: 100px;
    height: 80px;
}
.table tbody td .email span {
    display: block;
}
.table tbody td .email span:last-child {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}
.table tbody td .close span {
    font-size: 12px;
    color: #dc3545;
}
.checkbox-wrap {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  /* Hide the browser's default checkbox */
  .checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    .check-payment {
        width: 400px;
        height: 200px;
        margin: 0;
        float: right;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 23px;
        border-radius: 5px;
    }
    .payment-action {
        font-size: 30px;
        color: #d60000;
    }
    p.confirm {
        color: #01b000;
        font-size: 18px;
        font-family: -webkit-pictograph;
    }
    p.cancel {
        color: #b00000;
        font-size: 18px;
        font-family: -webkit-pictograph;
    }
    p.pending {
        color: #b0aa00;
        font-size: 18px;
        font-family: -webkit-pictograph;
    }